<div style="margin: 20px;">
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search"
    class="form-control"
    style="width: 300px; padding: 8px;"
  />

  <ul>
    <li *ngFor="let item of selectedRole">
      {{ item }}
    </li>
  </ul>
</div>
<div class="card">
<mat-card>
    <mat-card-title>Generate Staff List</mat-card-title>
    <mat-card-content class="spacing">
        <form (ngSubmit)="generateShift()">
            <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Enter your name" [(ngModel)]="fullName">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Staff ID</mat-label>
                <input matInput placeholder="Enter your Staff ID" [(ngModel)]="staffID">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="selectedRole" name="role" required>
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{ role }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Shift Preference</mat-label>
                <mat-select [(ngModel)]="selectedShift" name="shift" required>
                    <mat-option *ngFor="let shift of shifts" [value]="shift">
                        {{ shift }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Conatact Number</mat-label>
                <input matInput placeholder="Enter your Conatact Number" [(ngModel)]="phoneNumber">
            </mat-form-field>


            <button class="button-spacing" mat-raised-button color="primary" type="submit">
                Submit
            </button>
        </form>
    </mat-card-content>
</mat-card>
</div>