<div class="login-container" *ngIf="!currentUser">
  <mat-card class="login-card">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="usernameInput" required />
        </mat-form-field>
        <button mat-raised-button color="primary" class="full-width" (click)="login()">Login</button>

    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="currentUser">
<mat-toolbar color="primary">
      <span>Healthcare Staff Shift Scheduler</span>
      <span class="spacer"></span>
      <div *ngIf="currentUser">
        Welcome, {{ currentUser }}!
        <button mat-button (click)="logout()">Logout</button>
      </div>
      
    </mat-toolbar>


    <nav mat-tab-nav-bar color="primary">
      <a mat-tab-link
         *ngIf="currentUser"
         routerLink="/config"
         routerLinkActive #rlaConfig="routerLinkActive"
     [active]="rlaConfig.isActive">
        Staff List
      </a>
      <a mat-tab-link
         *ngIf="currentUser"
         routerLink="/config"
         routerLinkActive #rlaConfig="routerLinkActive"
     [active]="rlaConfig.isActive">
        Shift Scheduler
      </a>
      <a mat-tab-link
         *ngIf="currentUser"
         routerLink="/attendance"
         routerLinkActive #rlaConfig="routerLinkActive"
     [active]="rlaConfig.isActive">
        Mark Attendance
      </a>
      <a mat-tab-link
         *ngIf="currentUser"
         routerLink="/config"
         routerLinkActive #rlaConfig="routerLinkActive"
     [active]="rlaConfig.isActive">
        Scheduler View
      </a>
    
    </nav>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
</div>